<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>android</string>
	<string>C++</string>
	<string>cocos2d</string>
	<string>deeplearning</string>
	<string>PHP</string>
	<string>python</string>
</array>
</plist>
